header {
  background-color: white;
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

ul>li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: black;
  padding: 10px;
}

.outlet {
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  width: 500px;
  height: 100dvh;
  border: 1px solid grey;
  border-radius: 8px;
}

.form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

}

button {
  width: fit-content;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  padding: 10px;
}


.error {
  color: red;
  font-weight: 500;
}

.poster {
  width: 400px;
  height: 450px;
}

.book-card {
  width: 400px;
  border: 1px solid grey;
}

.summary {
  width: fit-content;
}

.book-list {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.theme-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none;
}




.link {
  text-decoration: none;
  border: none;
  padding: 10px;
  color: black;
}

.link:hover {
  border: 1px solid black;
}