header {
  background-color: wheat;
  color: maroon;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

ul>li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: wheat;
  padding: 10px;
}

.outlet {
  height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  width: 500px;
  height: 100dvh;
  border: 1px solid grey;
  border-radius: 8px;
}

.form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

button {
  width: fit-content;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  padding: 10px;
}


.error {
  color: red;
  font-weight: 500;
}